<div class="container">
    <form class="login" #form="ngForm" (submit)="login(form)">

        <fieldset>
            <h2>Login Form</h2>

            <p class="field field-icon">
                <label for="email"><span><i class="fas fa-envelope"></i></span></label>
                <input 
                    class="input-error"
                    type="email" 
                    name="email" 
                    id="email" 
                    placeholder="john.doe@gmail.com"
                    #emailInput="ngModel"
                    ngModel
                    required
                    [appEmail]="domains"
                >
            </p>

            <ng-container *ngIf="emailInput.touched">
                <p class="error" *ngIf="emailInput.errors?.['required']">
                    Email is required!
                </p>
                <p class="error" >
                    Email is not valid!
                </p>
            </ng-container>

            <p class="field field-icon">
                <label for="password"><span><i class="fas fa-lock"></i></span></label>
                <input 
                    type="password" 
                    name="password" 
                    id="password" 
                    placeholder="******"
                    #passwordInput="ngModel"
                    ngModel
                    required
                    minlength="5"
                >
            </p>

            <ng-container *ngIf="passwordInput.touched">
                <p class="error" *ngIf="passwordInput.errors?.['required']">
                    Password is required!
                </p>
                <p class="error" *ngIf="passwordInput.errors?.['minlength']">
                    Password must be at least 5 characters!
                </p>
            </ng-container>

            <button >Login</button>

            <p class="text-center">
                Have an account?
                <a routerLink="/register">Register</a>
            </p>

        </fieldset>
    </form>
</div>