header > h1 {
  font-size: 28px;
}
header > p {
  font-style: italic;
}
p {
  font-size: 24px;
}
body {
  margin: 0;
  padding: 0;
  background-color: #ccc;
}
#container {
  margin-left: 20px;
}
ul {
  background-color: #444;
  text-align: center;
  padding: 0;
  margin: 0;
  list-style: none;
}
li {
  display: inline-block;
  font-size: 24px;
  height: 40px;
  padding: 20px;
}
a {
  text-decoration: none;
  color: #fff;
}
footer{
    background-color: #444;    
}
footer>p{
    padding: 10px;
    color: #fff;
    text-align: center;
}