body{
    background-color: #cccccc;
    margin: 0;
    padding: 0;
}

section{
    margin-left: 20px;
}

header>h1{
    font-size: 28px;
}

header>p{
    font-style: italic;
}

p{
    font-size: 24px
}