<section class="cats">
    <ul>
        {{#if cats}}
            {{#each cats}}
                {{>catCard}}
            {{/each}}
        {{else}}
                {{>missingContent}}
        {{/if}}
    </ul>
</section>