.header {
    border-radius: 5px 5px 0 0;
    padding: 40px;
    background-image: linear-gradient(340deg, #045de9 0%, #09c6f9 100%);
    box-shadow: 4px 4px 5px rgba(82, 82, 82, .4);
}

h1 {
    color:  rgb(245, 245, 245);
    margin-bottom: 20px;
    text-transform: uppercase;
}

.todo-input {
    width: 80%;
    padding: 10px 20px;
    margin-right: 20px;
    border: none;
    border-radius: 5px;
    color: rgb(79, 82, 92);
    background-color: rgb(245, 245, 245);
}

.btn-add {
    padding: 10px 22px;
    border: none;
    border-radius: 5px;
    color: rgb(26, 26, 26);
    background-color:  rgb(245, 245, 245);
    text-transform: uppercase;
    cursor: pointer;
    transition: color .3s, background-color .3s;
}

.btn-add:hover {
    color: #fff;
    background-color: rgb(79, 82, 92);
}
