* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    "header header header header"
    "aside main main main"
    "footer footer footer footer";
  gap: 8px;
  border-radius: 8px;
  padding: 8px;
}

header,
aside,
main,
footer {
  border-radius: 3px;
  background-color: rgb(181, 216, 255);
  padding: 10px 20px;
}
header {
  grid-area: header;
  padding: 20px;
}
header h1 {
  align-self: center;
  display: inline-block;
}

aside {
  grid-area: aside;
}
aside ul {
  list-style-type: none;
  margin: 0;
  padding: 5px;
  margin-left: 10px;
}
aside ul li a {
  display: block;
  padding: 5px 0px;
  color: rgb(86, 40, 129);
  text-decoration: none;
}
main {
  grid-area: main;
}
main ul {
  margin-left: 32px;
}
footer {
  grid-area: footer;
}

@media (max-width: 500px) {
  body {
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "aside"
      "main"
      "footer";
  }
}
