<div class="container">
    <form class="register" [formGroup]="form">

        <fieldset>
            <h2>Registration Form</h2>

            <!-- username -->
            <p class="field field-icon">
                <label for="username"><span><i class="fas fa-user"></i></span></label>
                <input class="input-error" type="text" formControlName="username" id="username" placeholder="Johny">
            </p>
            <p class="error" *ngIf="form.get('username')?.touched && form.get('username')?.errors?.['required']">
                Username is required!
            </p>

            <!-- email -->
            <p class="field field-icon">
                <label for="email"><span><i class="fas fa-envelope"></i></span></label>
                <input type="email" formControlName="email" id="email" placeholder="john.doe@gmail.com">
            </p>
            <p class="error" *ngIf="form.get('email')?.touched && form.get('email')?.errors?.['required']">
                Email is required!
            </p>
            <p class="error" *ngIf="form.get('email')?.touched && form.get('email')?.errors?.['required']">
                Email is not valid!
            </p>

            <!-- telephone -->
            <p class="field field-icon">
                <label for="tel"><span><i class="fas fa-phone"></i></span></label>
                <select formControlName="ext" id="select-tel" class="tel">
                    <option value="00359">+359</option>
                    <option value="0044">+44</option>
                </select>
                <input type="text" formControlName="tel" id="tel" placeholder="885 888 888">
            </p>

            <ng-container formGroupName="pass">
                <!-- password -->
                <p class="field field-icon">
                    <label for="password"><span><i class="fas fa-lock"></i></span></label>
                    <input type="password" formControlName="password" id="password" placeholder="******">
                </p>
                <p class="error" *ngIf="form.get('pass')?.get('password')?.errors?.['required'] &&  form.get('pass')?.get('password')?.touched">
                    Password is required!
                </p>
                <p class="error" *ngIf="form.get('pass')?.get('password')?.errors?.['minlength'] &&  form.get('pass')?.get('password')?.touched">
                    Password must be at least 5 characters!
                </p>

                <!-- rePassword -->
                <p class="field field-icon">
                    <label for="rePassword"><span><i class="fas fa-lock"></i></span></label>
                    <input type="password" formControlName="rePassword" id="rePassword" placeholder="******">
                </p>
                <p class="error" *ngIf="form.get('pass')?.errors?.['samePasswordValidarot'] && form.get('pass')?.get('rePassword')?.touched">Repeat Password does not match password!</p>
            </ng-container>

            <button disabled>Create Account</button>

            <p class="text-center">
                Have an account?
                <a routerLink="/login">Log In</a>
            </p>

        </fieldset>
    </form>
</div>